<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/static/styles/loading.css">
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <ul></ul>

  <button>go get them</button>

  <!-- loader -->
  <div id="loaderDiv">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  </div>
</main>

<script src="/static/scripts/harryPotter" defer></script>
<footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>